@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;700&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

body {
    background: black;
    color: white;
    text-align: center;
}

header {
    background: #EC0E8C;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    margin: 198px 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ~~~~~~~ LAYOUT ~~~~~~~ */

/* HEADER */
div.header-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1215px;
    padding: 15px 0;
}

header div.logo-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 0 0 100px;
    width: 100%
}

header img#logo {
    max-width: 75px;
    max-height: 100px;
    width: 100%;
    height: auto;

}

header img.name-logo {
    margin: 0 0 0 20px;
    height: auto;
    max-width: 470px;
    width: 100%;
}

header nav {
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 100px 0 0;
}

header nav ul li {
    text-align: center;
    font-size: 24px;
    font-family: 'Big Shoulders Display', cursive;
    margin: 0 0 0 20px;
}

/* ~~~~~~~~~~~ ABOUT ~~~~~~~~~~~ */
main section#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section#about h2 {
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-style: bold;
    max-width: 764px;
    margin: 0 0 100px;
    color: #EC0E8C;
}

main section#about div.about-sub-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

main section#about div.artist-statement-cont {
    padding: 0 0 0 150px;
    text-align: left;
}

main section#about div.artist-statement-cont h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 20px;
    color: #98FAE2;
}

main section#about div.artist-statement-cont p {
    max-width: 568px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

/* PORTFOLIO */

main section#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 72px;
    margin: 0 0 75px;
    color: #98FAE2;
}

main section#portfolio div.portfolio-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0px;
    justify-content: stretch;
    max-width: 1215px;
    justify-items: stretch;
}

main section#portfolio div.portfolio-images img {
    max-width: 583px;
    margin: 10px 10px;
    max-height: 319px;
    width: auto;
    height: auto;
}

main section#portfolio div.portfolio-images img:nth-of-type(4) {
    width: 100%;
    margin: 10px 0 10px 5px;
    max-width: 598px;
}

/* Contact */
main section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1215px;
    width: 100%;
}

main section#contact div.contact-content {
    display: flex;
    justify-content: center;
}

main section#contact div.socials {
    padding: 0 0 0 200px;
}

main section#contact div.socials div.icon-cont-cont {
    display: flex;
    
}

main section#contact div.socials div.icon-cont {
    display: flex;
    width: 78px;
    justify-content: center;
    padding-right: 10px;
    align-items: center;
}

main section#contact div {
    text-align: left;
}

main section#contact div.contact-info {
    padding: 0 40px 0 0;
}

main section#contact  h4 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin: 0 0 20px;
}

main section#contact div.contact-info p {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

main section#contact div.contact-info button {
    width: 275px;
    height: 80px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 54px;
    margin: 20px 0 60px;
    background-color: #EC0E8C;
    color: white;
    border: 0px;
    cursor: pointer;
}

main section#contact div.contact-info button:hover {
    color: #98FAE2;
}

/* FOOTER  */

footer {
    height: 85px;
    background-color: #EC0E8C;
}

/* ~~~~~~` STYLES ~~~~~~ */

/* NAV */
header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #98FAE2;
    text-decoration: underline;
    text-underline-offset: 5px;
}